<h1>Nacht {{ num }}</h1>

<h3>Fase:</h3>

<p>De hoer wordt wakker en kiest wie zij wilt beschermen vannacht.</p>

{% if player.role.__class__.__name__ == 'Hoer' %}
<label for="choice">Wie wil je beschermen?</label>

<select id="choice">
  {% for name, info in player.info.items() %}
  {% if 'dead' not in info['other'] %}
  <option value={{ name }}>{{ name }}</option>
  {% endif %}
  {% endfor %}
</select>

<button type="button" id="b2">Bevestig</button>

<p id="result"></p>

<script type="text/javascript">
  $('#b2').click(function() {
    let name = $("#choice option:selected").val();
    socket.send({
      'request': 'protect',
      'name': name
    });
  });
</script>
{% endif %}

{% include "game/players.html" %}