<h3>Rollen:</h3>

<form id="roles">
  <table>
    {% for role, tuple in player.manager.roles.items() %}
    {% if loop.index0 % 2 == 0 %}
    <tr>
      {% endif %}
      <td style="padding: 7px;">
        <input type="number" name={{ role.__name__ }} id={{ loop.index }} value='1' size='1' min={{ tuple[0] }} max={{ tuple[1] }}>
      </td>
      <td>
        <label for={{ loop.index }}>{{ role.__name__ }}</label>
      </td>
      {% if loop.index % 2 == 0 %}
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</form>
<br>
<button type="button" , id="b1">Start spel</button>

<script type="text/javascript">
  $('#b1').click(function() {
    let unindexed_array = $('#roles').serializeArray();
    let indexed_array = {};

    $.map(unindexed_array, function(n, i) {
      indexed_array[n['name']] = Number(n['value']);
    });

    socket.send({
      'request': 'start game',
      'role_selection': indexed_array
    });
  });
</script>