<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snorren</title>
  <script src="{{ url_for('static', filename='scripts/jquery-3.5.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/socket.io.js') }}"></script>
  <script type="text/javascript">
    var socket = io();
  </script>
</head>

<body>

  <h1>Snorren<span style=" font-size:20px"> v1.0</span></h1>
  <p>De "Ik ben geen frontend developer" editie</p>

  <button type="button" id="b1">Ik ben speler</button>
  <button type="button" id="b2">Ik ben spelleider</button>

  <script type="text/javascript">
    $('#b1').click(function() {
      let name = prompt("Naam");
      socket.emit('join', {
        'type': 'player',
        'name': name
      });
    });

    $('#b2').click(function() {
      socket.emit('join', {
        'type': 'game master'
      });
    });

    socket.on('message', function(msg) {
      if ('error' in msg) {
        alert(msg.error);
      } else {
        pageMessageHandler(msg);
      }
    });

    socket.on('disconnect', function(data) {
      alert('Connectie met server verbroken');
    });

    socket.on('update_page', function(data) {
      $('body').html(data);
    });
  </script>

</body>

</html>