<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snorren</title>
  <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
</head>

<body>
  <div id="page">

    <h1 style="display:inline;">Snorren</h1>
    <h3 style="display:inline;">v1.0</h3>
    <div>De "Ik ben geen frontend developer" editie</div>
    <br>

    <button type="button" id="b1">Ik ben speler</button>
    <button type="button" id="b2">Ik ben spelleider</button>

    <script type="text/javascript">
      $('#b1').click(function() {
        let name = prompt("Naam");
        socket.emit('join', {
          'type': 'player',
          'name': name
        });
      });

      $('#b2').click(function() {
        socket.emit('join', {
          'type': 'game master'
        });
      });
    </script>

  </div>

  <script type="text/javascript">
    var socket = io();

    socket.on('message', function(msg) {
      alert(msg);
    });

    socket.on('disconnect', function(data) {
      alert('Connectie met server verbroken');
    });

    socket.on('update_page', function() {
      socket.emit('request_page');
    });

    socket.on('receive_page', function(data) {
      $('#page').html(data);
    });
  </script>
</body>

</html>