<h1>Lobby</h1>

{% if gm %}
<h3>Rollen:</h3>

<form id="roles">
  <table>
    {% for role, tuple in roles.items() %}
    {% if loop.index0 % 2 == 0 %}
    <tr>
      {% endif %}
      <td style="padding: 5px;">
        <input type="number" name={{ role.__name__ }} id={{ loop.index }} value='1' size='1' min={{ tuple[0] }} max={{ tuple[1] }}>
      </td>
      <td>
        <label for={{ loop.index }}>{{ role.__name__ }}</label>
      </td>
      {% if loop.index % 2 == 0 %}
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</form>
<br>
<button type="button" , id="b1">Start spel</button>
{% endif %}

<h3>Spelers:</h3>
<ul id='users'></ul>

<script type="text/javascript">
  function pageMessageHandler(msg) {
    $('#users').empty();
    msg.users.forEach(function(user) {
      $('#users').append('<li>' + user + '</li>');
    });
  }
</script>

{% if gm %}
<script type="text/javascript">
  $('#b1').click(function() {
    let unindexed_array = $('#roles').serializeArray();
    let indexed_array = {};

    $.map(unindexed_array, function(n, i) {
      indexed_array[n['name']] = Number(n['value']);
    });

    socket.send({
      'request': 'start game',
      'role_selection': indexed_array
    });
  });
</script>
{% endif %}